<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
   <Properties>
      <MetaInfo>
		<Name>Mimesis Data Generator</Name>
		<RootToolName>Mimesis</RootToolName>
		<Description>Generate random data using the Python package Mimesis.</Description>
		<ToolVersion>2.0</ToolVersion>
		<CategoryName>Developer</CategoryName>
		<Author>Sophia F.</Author>
        <Icon>Mimesis_v2.0\MimesisIcon.png</Icon>
      </MetaInfo>
   </Properties>
</AlteryxJavaScriptPlugin>
